@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: #eaebef url('assets/death-star.png') no-repeat 95% 95%;
  background-size: 300px 300px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
}

input,
button {
  border: none;
  background: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
